In [2]:
import pandas as pd
import numpy as np

### Download the dataset along with the supplementary files explaining the variables.

In [5]:
data = pd.read_csv("ESGData.csv")
display(data.info())
display(data)
display(data['Indicator Name'].nunique())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16013 entries, 0 to 16012
Data columns (total 67 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country Name    16013 non-null  object
 1   Country Code    16013 non-null  object
 2   Indicator Name  16013 non-null  object
 3   Indicator Code  16013 non-null  object
 4   1960            1356 non-null   float64
 5   1961            1955 non-null   float64
 6   1962            2192 non-null   float64
 7   1963            1966 non-null   float64
 8   1964            1978 non-null   float64
 9   1965            2017 non-null   float64
 10  1966            2018 non-null   float64
 11  1967            2260 non-null   float64
 12  1968            2037 non-null   float64
 13  1969            2048 non-null   float64
 14  1970            3084 non-null   float64
 15  1971            3589 non-null   float64
 16  1972            3833 non-null   float64
 17  1973            3585 non-null   float64
 18  1974            3596 non-null   float64
 19  1975            3935 non-null   float64
 20  1976            3897 non-null   float64
 21  1977            4157 non-null   float64
 22  1978            3915 non-null   float64
 23  1979            3926 non-null   float64
 24  1980            4209 non-null   float64
 25  1981            4237 non-null   float64
 26  1982            4456 non-null   float64
 27  1983            4174 non-null   float64
 28  1984            4215 non-null   float64
 29  1985            4310 non-null   float64
 30  1986            4303 non-null   float64
 31  1987            4634 non-null   float64
 32  1988            4294 non-null   float64
 33  1989            4343 non-null   float64
 34  1990            6638 non-null   float64
 35  1991            6558 non-null   float64
 36  1992            7001 non-null   float64
 37  1993            6724 non-null   float64
 38  1994            6773 non-null   float64
 39  1995            7051 non-null   float64
 40  1996            7995 non-null   float64
 41  1997            7397 non-null   float64
 42  1998            8274 non-null   float64
 43  1999            7255 non-null   float64
 44  2000            9902 non-null   float64
 45  2001            8437 non-null   float64
 46  2002            10026 non-null  float64
 47  2003            9644 non-null   float64
 48  2004            9800 non-null   float64
 49  2005            10129 non-null  float64
 50  2006            9884 non-null   float64
 51  2007            10299 non-null  float64
 52  2008            9832 non-null   float64
 53  2009            10007 non-null  float64
 54  2010            10367 non-null  float64
 55  2011            10145 non-null  float64
 56  2012            10508 non-null  float64
 57  2013            10284 non-null  float64
 58  2014            10330 non-null  float64
 59  2015            10132 non-null  float64
 60  2016            9309 non-null   float64
 61  2017            9264 non-null   float64
 62  2018            8640 non-null   float64
 63  2019            6451 non-null   float64
 64  2020            3194 non-null   float64
 65  2050            772 non-null    float64
 66  Unnamed: 66     0 non-null      float64
dtypes: float64(63), object(4)
memory usage: 8.2+ MB

None

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2013,2014,2015,2016,2017,2018,2019,2020,2050,Unnamed: 66
0,Arab World,ARB,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,83.533131,83.897331,84.171596,84.510733,NaN,NaN,NaN,NaN,NaN,NaN
1,Arab World,ARB,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,88.101139,87.201629,87.935479,88.504261,89.623427,88.306324,89.512282,NaN,NaN,NaN
2,Arab World,ARB,Adjusted savings: natural resources depletion ...,NY.ADJ.DRES.GN.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,11.382584,10.099735,6.107349,5.124529,6.460669,8.290263,7.178111,NaN,NaN,NaN
3,Arab World,ARB,Adjusted savings: net forest depletion (% of GNI),NY.ADJ.DFOR.GN.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,0.043291,0.065460,0.068979,0.059133,0.069831,0.035417,0.041436,NaN,NaN,NaN
4,Arab World,ARB,Agricultural land (% of land area),AG.LND.AGRI.ZS,NaN,27.835643,27.826564,27.845522,27.847925,27.866972,...,36.574248,36.570794,36.583219,36.561966,36.560345,36.563558,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16008,Zimbabwe,ZWE,Strength of legal rights index (0=weak to 12=s...,IC.LGL.CRED.XQ,NaN,NaN,NaN,NaN,NaN,NaN,...,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,6.000000,NaN,NaN,NaN
16009,Zimbabwe,ZWE,Terrestrial and marine protected areas (% of t...,ER.PTD.TOTL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,27.214542,27.214585,27.214585,NaN,NaN,NaN,NaN
16010,Zimbabwe,ZWE,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,5.380000,5.330000,5.290000,5.240000,5.150000,5.070000,5.020000,5.730000,NaN,NaN
16011,Zimbabwe,ZWE,Unmet need for contraception (% of married wom...,SP.UWT.TFRT,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,10.400000,10.400000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16012,Zimbabwe,ZWE,Voice and Accountability: Estimate,VA.EST,NaN,NaN,NaN,NaN,NaN,NaN,...,-1.386220,-1.256964,-1.165902,-1.177471,-1.195013,-1.140979,-1.159892,-1.121479,NaN,NaN

67

In [14]:
df1 = data.drop(['Country Name', 'Indicator Name'], axis=1)
df1 = df1.rename(columns={'Country Code': 'Country_Code',
                         'Indicator Code': 'Indicator_Code'})
display(df1)

n_by_indicator = df1.groupby('Indicator_Code').count()
display(n_by_indicator.head(67))

,Country_Code,Indicator_Code,1960,1961,1962,1963,1964,1965,1966,1967,...,2013,2014,2015,2016,2017,2018,2019,2020,2050,Unnamed: 66
0,ARB,EG.CFT.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,83.533131,83.897331,84.171596,84.510733,NaN,NaN,NaN,NaN,NaN,NaN
1,ARB,EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,88.101139,87.201629,87.935479,88.504261,89.623427,88.306324,89.512282,NaN,NaN,NaN
2,ARB,NY.ADJ.DRES.GN.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,11.382584,10.099735,6.107349,5.124529,6.460669,8.290263,7.178111,NaN,NaN,NaN
3,ARB,NY.ADJ.DFOR.GN.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.043291,0.065460,0.068979,0.059133,0.069831,0.035417,0.041436,NaN,NaN,NaN
4,ARB,AG.LND.AGRI.ZS,NaN,27.835643,27.826564,27.845522,27.847925,27.866972,27.866171,27.918594,...,36.574248,36.570794,36.583219,36.561966,36.560345,36.563558,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16008,ZWE,IC.LGL.CRED.XQ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,6.000000,NaN,NaN,NaN
16009,ZWE,ER.PTD.TOTL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,27.214542,27.214585,27.214585,NaN,NaN,NaN,NaN
16010,ZWE,SL.UEM.TOTL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.380000,5.330000,5.290000,5.240000,5.150000,5.070000,5.020000,5.730000,NaN,NaN
16011,ZWE,SP.UWT.TFRT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,10.400000,10.400000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16012,ZWE,VA.EST,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-1.386220,-1.256964,-1.165902,-1.177471,-1.195013,-1.140979,-1.159892,-1.121479,NaN,NaN

,Country_Code,1960,1961,1962,1963,1964,1965,1966,1967,1968,...,2013,2014,2015,2016,2017,2018,2019,2020,2050,Unnamed: 66
Indicator_Code,,,,,,,,,,,,,,,,,,,,,
AG.LND.AGRI.ZS,239,0,203,203,203,203,203,203,203,203,...,238,238,238,238,238,238,0,0,0,0
AG.LND.FRST.ZS,239,0,0,0,0,0,0,0,0,0,...,239,239,239,239,238,238,203,203,0,0
AG.PRD.FOOD.XD,239,0,201,201,201,201,201,201,201,201,...,235,235,189,189,189,189,0,0,0,0
CC.EST,239,0,0,0,0,0,0,0,0,0,...,191,191,191,191,191,191,191,191,0,0
EG.CFT.ACCS.ZS,239,0,0,0,0,0,0,0,0,0,...,235,235,235,235,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
SP.DYN.LE00.IN,239,226,227,227,226,226,226,227,227,227,...,230,230,230,230,230,230,230,0,0,0
SP.DYN.TFRT.IN,239,227,227,227,226,227,227,227,227,227,...,230,230,231,230,230,230,230,0,0,0
SP.POP.65UP.TO.ZS,239,229,229,229,229,229,229,229,229,229,...,228,228,228,228,228,228,228,228,0,0
SP.UWT.TFRT,239,0,0,0,0,0,0,0,0,0,...,21,37,23,31,40,35,17,4,0,0
VA.EST,239,0,0,0,0,0,0,0,0,0,...,193,193,193,193,193,193,193,193,0,0

### Reshape dataframe to have indicators as columns and values per year as rows.

In [17]:
# Convert dataframe from wide to long format indexed by indicator code and country code 
df2 = df1.melt(value_name='value', var_name='Year', id_vars=['Indicator_Code', 'Country_Code'])
display(df2)

            Indicator_Code Country_Code         Year  value
0           EG.CFT.ACCS.ZS          ARB         1960    NaN
1           EG.ELC.ACCS.ZS          ARB         1960    NaN
2        NY.ADJ.DRES.GN.ZS          ARB         1960    NaN
3        NY.ADJ.DFOR.GN.ZS          ARB         1960    NaN
4           AG.LND.AGRI.ZS          ARB         1960    NaN
...                    ...          ...          ...    ...
1008814     IC.LGL.CRED.XQ          ZWE  Unnamed: 66    NaN
1008815     ER.PTD.TOTL.ZS          ZWE  Unnamed: 66    NaN
1008816     SL.UEM.TOTL.ZS          ZWE  Unnamed: 66    NaN
1008817        SP.UWT.TFRT          ZWE  Unnamed: 66    NaN
1008818             VA.EST          ZWE  Unnamed: 66    NaN

[1008819 rows x 4 columns]

In [43]:
# Pivot dataframe indexed by Country_Code and Year, and columns from Indicator_Code
df3 = df2.pivot(index=['Country_Code', 'Year'], columns='Indicator_Code', values='value').reset_index()
#display(df3)

df4 = df3[df3['Year'] != 'Unnamed: 66']
display(df4)
display(df4.info())

Indicator_Code,Country_Code,Year,AG.LND.AGRI.ZS,AG.LND.FRST.ZS,AG.PRD.FOOD.XD,CC.EST,EG.CFT.ACCS.ZS,EG.EGY.PRIM.PP.KD,EG.ELC.ACCS.ZS,EG.ELC.COAL.ZS,...,SL.TLF.ACTI.ZS,SL.TLF.CACT.FM.ZS,SL.UEM.TOTL.ZS,SM.POP.NETM,SN.ITK.DEFC.ZS,SP.DYN.LE00.IN,SP.DYN.TFRT.IN,SP.POP.65UP.TO.ZS,SP.UWT.TFRT,VA.EST
0,AFG,1960,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,32.446,7.450,2.798308,NaN,NaN
1,AFG,1961,57.745918,NaN,41.39,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,32.962,7.450,2.808131,NaN,NaN
2,AFG,1962,57.837821,NaN,41.71,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,-20000.0,NaN,33.471,7.450,2.804113,NaN,NaN
3,AFG,1963,57.914407,NaN,41.53,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,33.971,7.450,2.786171,NaN,NaN
4,AFG,1964,58.010906,NaN,45.03,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,34.463,7.450,2.754223,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15051,ZWE,2017,41.876696,45.451183,103.35,-1.271278,NaN,NaN,40.144283,NaN,...,84.01,87.413136,5.15,-584288.0,NaN,60.812,3.707,2.896191,NaN,-1.195013
15052,ZWE,2018,41.876696,45.332093,103.73,-1.230871,NaN,NaN,40.616360,NaN,...,83.97,87.655846,5.07,NaN,NaN,61.195,3.615,2.939524,NaN,-1.140979
15053,ZWE,2019,NaN,45.213002,NaN,-1.236825,NaN,NaN,41.089108,NaN,...,83.98,87.864132,5.02,NaN,NaN,61.490,3.531,2.980608,NaN,-1.159892
15054,ZWE,2020,NaN,45.093912,NaN,-1.253140,NaN,NaN,NaN,NaN,...,NaN,NaN,5.73,NaN,NaN,NaN,NaN,3.014178,NaN,-1.121479
15055,ZWE,2050,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14818 entries, 0 to 15055
Data columns (total 69 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Country_Code       14818 non-null  object
 1   Year               14818 non-null  object
 2   AG.LND.AGRI.ZS     12635 non-null  float64
 3   AG.LND.FRST.ZS     7282 non-null   float64
 4   AG.PRD.FOOD.XD     12326 non-null  float64
 5   CC.EST             4161 non-null   float64
 6   EG.CFT.ACCS.ZS     3995 non-null   float64
 7   EG.EGY.PRIM.PP.KD  4826 non-null   float64
 8   EG.ELC.ACCS.ZS     6015 non-null   float64
 9   EG.ELC.COAL.ZS     7895 non-null   float64
 10  EG.ELC.RNEW.ZS     6218 non-null   float64
 11  EG.FEC.RNEW.ZS     6661 non-null   float64
 12  EG.IMP.CONS.ZS     8015 non-null   float64
 13  EG.USE.COMM.FO.ZS  8000 non-null   float64
 14  EG.USE.PCAP.KG.OE  7743 non-null   float64
 15  EN.ATM.CO2E.PC     12896 non-null  float64
 16  EN.ATM.METH.PC     11507 non-null  float64
 17  EN.ATM.NOXE.PC     11507 non-null  float64
 18  EN.ATM.PM25.MC.M3  2784 non-null   float64
 19  EN.CLC.CDDY.XD     193 non-null    float64
 20  EN.CLC.GHGR.MT.CE  941 non-null    float64
 21  EN.CLC.HEAT.XD     193 non-null    float64
 22  EN.CLC.MDAT.ZS     165 non-null    float64
 23  EN.CLC.PRCP.XD     193 non-null    float64
 24  EN.CLC.SPEI.XD     193 non-null    float64
 25  EN.MAM.THRD.NO     239 non-null    float64
 26  EN.POP.DNST        14090 non-null  float64
 27  ER.H2O.FWTL.ZS     1176 non-null   float64
 28  ER.PTD.TOTL.ZS     709 non-null    float64
 29  GB.XPD.RSDV.GD.ZS  2379 non-null   float64
 30  GE.EST             4152 non-null   float64
 31  IC.BUS.EASE.XQ     185 non-null    float64
 32  IC.LGL.CRED.XQ     1617 non-null   float64
 33  IP.JRN.ARTC.SC     4541 non-null   float64
 34  IP.PAT.RESD        4679 non-null   float64
 35  IT.NET.USER.ZS     6916 non-null   float64
 36  NV.AGR.TOTL.ZS     9667 non-null   float64
 37  NY.ADJ.DFOR.GN.ZS  9576 non-null   float64
 38  NY.ADJ.DRES.GN.ZS  9153 non-null   float64
 39  NY.GDP.MKTP.KD.ZG  11477 non-null  float64
 40  PV.EST             4185 non-null   float64
 41  RL.EST             4219 non-null   float64
 42  RQ.EST             4153 non-null   float64
 43  SE.ADT.LITR.ZS     2543 non-null   float64
 44  SE.ENR.PRSC.FM.ZS  7712 non-null   float64
 45  SE.PRM.ENRR        9706 non-null   float64
 46  SE.XPD.TOTL.GB.ZS  3835 non-null   float64
 47  SG.GEN.PARL.ZS     5393 non-null   float64
 48  SH.DTH.COMM.ZS     916 non-null    float64
 49  SH.DYN.MORT        11790 non-null  float64
 50  SH.H2O.SMDW.ZS     2735 non-null   float64
 51  SH.MED.BEDS.ZS     4862 non-null   float64
 52  SH.STA.OWAD.ZS     9828 non-null   float64
 53  SH.STA.SMSS.ZS     2996 non-null   float64
 54  SI.DST.FRST.20     1721 non-null   float64
 55  SI.POV.GINI        1725 non-null   float64
 56  SI.POV.NAHC        929 non-null    float64
 57  SI.SPR.PCAP.ZG     88 non-null     float64
 58  SL.TLF.0714.ZS     281 non-null    float64
 59  SL.TLF.ACTI.ZS     6720 non-null   float64
 60  SL.TLF.CACT.FM.ZS  6720 non-null   float64
 61  SL.UEM.TOTL.ZS     6720 non-null   float64
 62  SM.POP.NETM        2748 non-null   float64
 63  SN.ITK.DEFC.ZS     3800 non-null   float64
 64  SP.DYN.LE00.IN     13722 non-null  float64
 65  SP.DYN.TFRT.IN     13722 non-null  float64
 66  SP.POP.65UP.TO.ZS  13960 non-null  float64
 67  SP.UWT.TFRT        679 non-null    float64
 68  VA.EST             4233 non-null   float64
dtypes: float64(67), object(2)
memory usage: 7.9+ MB

None

### Look for missing data

In [41]:
# Find the frequency of missing data per column
missing_tmp = df4.isna().sum()/(len(df3))*100
missing_tmp.sort_values(ascending=False, inplace=True)
display(missing_tmp)

# Find columns with less than 50% missing data
missing = missing_tmp.to_frame(name='value')
missing_l_50 = missing[missing['value'] <= 50]
display(missing_l_50)

Indicator_Code
SI.SPR.PCAP.ZG       97.828253
EN.CLC.MDAT.ZS       97.316863
IC.BUS.EASE.XQ       97.184034
EN.CLC.SPEI.XD       97.130903
EN.CLC.HEAT.XD       97.130903
                       ...
SP.DYN.TFRT.IN        7.279006
SP.POP.65UP.TO.ZS     5.698346
EN.POP.DNST           4.834960
Year                  0.000000
Country_Code          0.000000
Length: 69, dtype: float64

                       value
Indicator_Code
SE.ENR.PRSC.FM.ZS  47.193996
EG.USE.PCAP.KG.OE  46.988112
EG.ELC.COAL.ZS     45.978615
EG.USE.COMM.FO.ZS  45.281265
EG.IMP.CONS.ZS     45.181643
NY.ADJ.DRES.GN.ZS  37.623697
NY.ADJ.DFOR.GN.ZS  34.814372
NV.AGR.TOTL.ZS     34.210002
SE.PRM.ENRR        33.950986
SH.STA.OWAD.ZS     33.140732
NY.GDP.MKTP.KD.ZG  22.189015
EN.ATM.METH.PC     21.989772
EN.ATM.NOXE.PC     21.989772
SH.DYN.MORT        20.110248
AG.PRD.FOOD.XD     16.550442
AG.LND.AGRI.ZS     14.498240
EN.ATM.CO2E.PC     12.764827
SP.DYN.LE00.IN      7.279006
SP.DYN.TFRT.IN      7.279006
SP.POP.65UP.TO.ZS   5.698346
EN.POP.DNST         4.834960
Year                0.000000
Country_Code        0.000000

### Explore related datasets for supplementary information about columns in the original dataset

#### ESG Country dataset

In [51]:
countryData = pd.read_csv('ESGCountry.csv')
#display(countryData)
display(countryData['Government Accounting concept'].unique())
country_df1 = countryData[['Country Code', 'Region', 'Income Group']]
country_df1 = country_df1.rename(columns= {'Country Code': 'Country_Code',
                            'Income Group': 'Income_Group'})
display(country_df1.isna().sum())

array(['Consolidated central government', 'Budgetary central government',
       nan], dtype=object)

Country_Code     0
Region          46
Income_Group    47
dtype: int64

#### ESG